/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
 .clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin:0%;
  width: 100%;
}


/******************************************
/* LAYOUT
/*******************************************/
/* header {

} */

#form-section{
  float: left;
  height: 100vh;
  width: 50%;
  padding: 180px;
  font: black;
  background-color: rgb(229, 229, 229);
}

h1{
  font-size: 40px;
}
p{
  padding-bottom: 15px;
  letter-spacing: 0.5px;
  line-height: 27px;
  font-size: 18px;

}

#image-section{
background: url('logo-lockup.png');
height: 100vh;
width: 50%;
float: left;
}
img{
  height: 100%;
  width: 100%;
}

footer {
  width: 100%;
  height: 20vh;
  float: left;
  clear: left;
  padding-left: 75px;
  background-color: rgb(229, 229, 229);
  font-size: 18px;
}
footer a{
  text-decoration: none;
  color: rgb(8, 21, 23);
}

li{
  list-style-type: none;
}

.copyright{
  color: rgb(8,21,23);
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
