/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin: 0%;
  width: 100%;
  height: 100vh;
  background-color: rgb(229, 229, 229)
}


/******************************************
/* LAYOUT
/*******************************************/
/* header {

} */

#main {
  width: 100%;
  height: 86%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  align-items: stretch;
}

#form-section {
  width: 50%;
  height: auto;
  color: black;
  background-image: url(../images/landing-page-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}


h1 {
  font-family: 'Inter', sans-serif;
}

p {
  padding-bottom: 15px;
  letter-spacing: 0.5px;
  line-height: 27px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Serif 4', serif;
}

#image-section {
  height: 100%;
  width: 50%;
  margin: auto;
  background-color: rgb(5, 21, 23);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#image-section>img {
  width: auto;
  height: auto;
  max-width: 500px;
  max-height: 500px;
}

footer {
  width: 100%;
  height: 15vh;
  /* float: left;
  clear: left; */
  position: absolute;
  bottom: 0;
  padding-left: 75px;
  background-color: rgb(229, 229, 229);
  font-size: 18px;
}

footer a {
  text-decoration: none;
  color: rgb(8, 21, 23);
}

li {
  list-style-type: none;
}

.copyright {
  color: rgb(8, 21, 23);
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 500px) {

  #form-section,
  #image-section {
    width: 90%;
    margin: auto;
  }
}