/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
 .clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin:0%;
  width: 100%;
}


/******************************************
/* LAYOUT
/*******************************************/
/* header {

} */

#main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#form-section {
  height: auto;
  width: 45%;
  margin-left: 2%;
  color: black;
  background-image: url("/images/landing-page-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
/*   height: 100vh;
  width: 50%;
  float: left; */
}


h1 {
 font-family: 'Inter', sans-serif;
}

p {
  padding-bottom: 15px;
  letter-spacing: 0.5px;
  line-height: 27px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Serif 4', serif;
}

#image-section{
  /* background: url('images/logo-lockup.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
  height: auto;
  width: 48%;
}


/* img{

} */

footer {
  width: 100%;
  height: 20vh;
  float: left;
  clear: left;
  padding-left: 75px;
  background-color: rgb(229, 229, 229);
  font-size: 18px;
}
footer a{
  text-decoration: none;
  color: rgb(8, 21, 23);
}

li{
  list-style-type: none;
}

.copyright{
  color: rgb(8,21,23);
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen (max-wid)